
%h1 Delete view

%p Deleted user's name is #{@name}
%p Deleted user's email is #{@email}
%p Deleted user's birthdate is #{@birthdate}
%p Deleted user's address is #{@address}
%p Deleted user's postal code is #{@postal_code}

%p= link_to 'Back to index' , users_path

%p= link_to 'Create deleted user again' , user_create_fast_path(@name,@email)






